
@media screen 
{
  .chapter 
  {
    page-break-before: always;
  }

  .bibliography
  {
    page-break-before: always;
  }
}

.chapter
{
  title: 
  {
    font-size: 24em;
  }
}

.section
{
  title: 
  {
    font-size: 20em;
  }
}

.bibliography
{
  .bib-entry
  {
    display: block;
    margin-bottom: 30px;

    td 
    {
      vertical-align: top;
    }

    .bib-number
    {
      width: 30px;
    }
  }
}